{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="mb-4">Categories</h1>
<div class="row">
    {% for category in categories %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">{{ category.products|length }} products</p>
                <a href="{{ url_for('category_view', cid=category.id) }}" class="btn btn-primary">View Products</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
